.margin-bottom{
    margin-bottom:30px;
}

.margin-top{
    margin-top:30px;
}

h3 {
    margin-top:30px;
    margin-bottom:20px;
}

.icon-image{
    max-height:20px;
    max-width:20px;
}

.scroll-table{
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

.scroll-table tbody {
    width: 100%;
    display:table;
}

.vertical-center{
    /*display: table-cell;
    vertical-align: middle;*/
}